{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "BUILD_DATE": "readonly",
    "COMMIT_HASH": "readonly",
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/order": ["error", {
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      },
      "newlines-between": "always"
    }],
    "no-continue": "off",
    "valid-jsdoc": ["error", {
      "requireReturn": false
    }],
    "react/require-default-props": ["error", {
      "functions": "defaultArguments"
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".json",
          ".jsx",
          ".png"
        ]
      }
    }
  },
  "overrides": [
    {
      "files": [
        "src/**/*.test.js"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ]
    },
    {
      "files": [
        "src/services/**/*.js"
      ],
      "plugins": [
        "sort-class-members"
      ],
      "rules": {
        "sort-class-members/sort-class-members": ["error", {
          "order": [
            "[initialize]",
            "[reset]",
            "[constructor]",
            "[public-properties]",
            "[public-static-methods]",
            "[public-methods]",
            "[private]"
          ],
          "groups": {
            "initialize": [{
              "name": "/initialize.*/",
              "static": true,
              "type": "method"
            }],
            "reset": [{
              "name": "reset",
              "static": true,
              "type": "method"
            }],
            "public-properties": [{
              "name": "/[^#].+/",
              "type": "property"
            }],
            "public-static-methods": [{
              "name": "/[^#].+/",
              "static": true,
              "type": "method"
            }],
            "public-methods": [{
              "name": "/[^#].+/",
              "type": "method"
            }],
            "private": [{
              "name": "/#.+/"
            }]
          }
        }]
      }
    }
  ]
}
