{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-underscore-dangle": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".json",
          ".jsx",
          ".png"
        ]
      }
    }
  },
  "overrides": [
    {
      "files": [
        "src/**/*.test.js"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ]
    }
  ]
}
