{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/extensions": ["error", "never"],
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": [
        "src/**/*.test.js"
      ],
      "env": {
        "jest": true
      },
      "plugins": [
        "jest"
      ]
    }
  ]
}
