body {
    background-image: url("../images/background.png");
    font-family: 'Fira Sans', sans-serif;
}

.full-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.launcher-container {
    width: 100%;
}

.header {
    display: block;
    text-align: center;
}

.settings {
    background: url("../images/menubg.png");
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 8px 0px;
    flex-wrap: wrap;
}

.settings,
.attribution,
#iteminfo,
#mapinfo,
#mapiteminfo {
    text-shadow: 1.5px 1px rgba(0, 0, 0, 0.5);
}

.settings table {
    width: 100%;
    max-width: 1100px;
    font-size: 1.2em;
    table-layout: fixed;
    color: white;
}

.settings td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.label-text {
    padding-left: 50px;
}

.slider-container {
    text-align: right;
    padding-right: 50px;
}

.text-col {
    width: 40%;
}

.slider-col {
    width: 10%;
}

#apply-flags-button {
    width: 120px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid #808080;
    background-color: #d2d2d2;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.permalink-container,
.launcher-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    padding: 4px 0px;
}

.launcher-button {
    width: 200px;
}

.permalink-input {
    margin-left: 5px;
    margin-right: 5px;
}

button,
#flags {
    padding: 6px;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    border: 1px solid #808080;
    margin-left: 2px;
    margin-right: 2px;
}

#flags {
    margin-left: 4px;
    width: 450px;
}

button {
    background: linear-gradient(#d2d2d2,#c8c8c8);
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
}

button:hover {
    border-color: #323232;
}

fieldset {
    margin: 4px 20px;
    border: 1px solid #c8c8c8;
    padding: 0px 4px 4px 4px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.4);
}

legend {
    color: white;
    padding: 2px;
}

.attribution,
.attribution a {
    text-align: center;
    margin-top: 20px;
    color: #C8C8C8;
    font-size: 13px;
}

.attribution a:hover {
    color: #969696;
}

.tracker-container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.tracker {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.item-tracker {
    width: 434px;
    height: 326px;
    background: url("../images/trackerbg.png") no-repeat center center;
    padding: 10px 11px;
    background-size: cover;
    float: left;
    margin-right: 8px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
}

.item-tracker.single-color {
    background-image: none;
    background-color: #69891C;
}

.item-tracker table {
    text-align: center;
}

.item-tracker img {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.menu-items {
    width: 100%;
}

.menu-items table {
    width: 100%;
}

.dins-pearl {
    float: left;
}

.other-items {
    display: flex;
    width: 100%;
}

.triforce-and-pearls {
    margin-top: auto;
    margin-bottom: auto;
    width: 270px;
}

.pearls {
    width: 114px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.pearl-holder {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.pearl-holder img {
    filter: none;
}

.misc-items {
    flex-grow: 1;
}

.misc-items table {
    width: 100%;
    height: 116px;
}

.song-notes {
    display: none;
}

.chart-map-container {
    float: left;
    margin-right: 8px;
    width: 364px;
    height: 346px;
    margin-bottom: 56px;
    flex-shrink: 0;
}

#chartmap {
    font-size: 13px;
    background: url("../images/sea_chart.png");
}

#chartmap,
#zoommap {
    width: 100%;
    height: 100%;
    position: relative;
}

.maps {
    padding: 7px 4px 3px 6px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.sea-sector {
    position: relative;
    float: left;
    cursor: pointer;
    width: 50.5px;
    height: 48px;
}

.treasure-chart {
    width: 20px;
    height: 20px;
    float: left;
    background: url("../images/chart.png");
    cursor: pointer;
    font-size: 0;
}

.chests-counter {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#iteminfo {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 7px;
    left: 0;
    top: 100%;
}

.map-info-container {
    position: absolute;
}

.map-item-info-container {
    position: absolute;
}

#mapinfo,
#mapiteminfo {
    color: white;
    position: absolute;
    width: 364px;
    text-align: center;
}

#mapinfo {
    top: 7px;
    font-size: 20px;
}

#mapiteminfo {
    top: 32px;
    font-size: 16px;
}

#zoommap table {
    padding-top: 5px;
    width: 100%;
}

#zoommap td {
    padding-bottom: 0;
}

#zoommap-background,
.zoommap-cover {
    position:absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#zoommap-background {
    z-index: -2;
    background: url("../images/map48.png");
    background-size: cover;
    background-position-y: 50%;
}

.zoommap-cover {
    z-index: -1;
    background-color: rgba(216, 186, 106, 0.7);
}

.detail-small {
    font-size: 13.5px;
}

.detail-smallest {
    font-size: 10px;
}

.tool-tip-text {
    display: none;
}

.tool-tip-text ul {
    margin: 0;
    padding-left: 15px;
}

.tracker td {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.extra-locations {
    background-color: rgba(160, 160, 160, 0.85);
    width: 450px;
    height: 242px;
    margin-bottom: 8px;
    flex-shrink: 0;
}

.extra-locations.single-color {
    background-color: rgba(160, 160, 160, 1);
}

.extra-location {
    width: 80px;
    float: left;
    background-position-y: 15px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
}

.dungeon-items {
    display: flex;
    justify-content: center;
    height: 24px;
}

.dungeon-item {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    font-size: 0;
}

.small-key {
    background: url("../images/smallkey.png");
}

.dungeon-entry {
    background: url("../images/dungeon_noentry.png");
}

.boss-key {
    background: url("../images/bosskey.png");
}

.extra-location-chests {
    font-size: 16px;
    text-align: center;
}

.dungeon-icon {
    display: flex;
}

.buttons {
    flex-grow: 0;
}

#save-progress-button {
    width: 120px;
    margin-left: 0;
}

#toggle-locations-button {
    width: 200px;
}

#toggle-background-button {
    width: 200px;
}
